#!/usr/bin/env bash

# export NLTK_DATA=

# export OPENSMILE_HOME=

# export stanford_pos_path=
# export stanford_parser_path=
# export lu_analyzer_path=
# export cfg_rules_path=
# export path_to_dictionary=
# export path_to_freq_norms=
# export path_to_image_norms=
# export path_to_anew=
# export path_to_warringer=
# export path_to_mpqa_lexicon=
# export path_to_rst_python=
# export path_to_rst=
# export path_to_stanford_cp=
# export path_to_lda_model=
# export path_to_lda_wordids=